body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    background-color: black;
    color: White;
}

h1, h2, h3, h4 {
    font-weight: bold;
    color: white;
}

.banner {
    font-size: 2rem;
    color: #ffffff;
}

video {
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

img {
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

#contact a:hover {
    text-decoration: underline;
}


.section-dark-1 {
    background-color: #2a2a2a; /* Dark gray */
    color: rgb(255, 255, 255);
}

.section-dark-2 {
    background-color: #333333; /* Slightly lighter */
    color: rgb(255, 255, 255);
}

.section-dark-3 {
    background-color: #3d3d3d; /* Another variation */
    color: rgb(255, 255, 255);
}
